body {
  font-family: sans-serif;
}

.dailyBounty {
  background-color: white;
  width: 25vw;
  height: 25vw;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  box-shadow: 0px 0px 1px 0px #333;
}

.dailyBounty .bountyTitle {
  height: 25%;
  line-height: 6.25vw;
  width: 100%;
  background-color: #39F;
  color: #EEE;
  margin: 0;
  text-align: center;
  font-size: 4vw;
}

.dailyBounty .bountyDescription {
  padding: 10px;
  margin: 0;
  font-size: 2vmax;
}

.dailyBounty.prevday0 {
  margin: 10vh auto;
  z-index: 100;
}

.dailyBounty.prevday1 {
  position: absolute;
  top: calc( 11vh + 1vw );
  left: calc( ((100vw / 2) - (25vw / 2)) - 15vw );
  z-index: -1;
  opacity: .75;
}

.dailyBounty.prevday2 {
  position: absolute;
  top: calc( 12vh + 3vw );
  left: calc( ((100vw / 2) - (25vw / 2)) - 30vw );
  z-index: -2;
  opacity: .5;
}
